.fade-up {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-in-out;
}

.active .fade-up {
    opacity: 1;
    transform: translateY(0);
}

.fade-down {
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.6s ease-in-out;
}

.active .fade-down {
    opacity: 1;
    transform: translateY(0);
}