body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    background-color: black;
}

.default-text {
    font-size: 24px;
    color: #c2c2c2;
}

.white-badge {
    background: white;
    color: black;
    display: inline-block;
    padding: 4px 8px;
    font-style: italic;
    margin-bottom: 16px;
    font-family: 'Merriweather';
}

.section-title {
    text-transform: uppercase;
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 32px;
    font-family: 'Oswald';
}


.mobile-only {
    display: none;
}


.mobile-hidden {
    display: block;
}

.section-padding-top {
    padding-top: 120px;
}

#pp-nav {
    display: none;
}


@media screen and (max-width: 1366px) {
    .section-title {
        font-size: 48px;
        margin-bottom: 32px;
    }



    .default-text {
        font-size: 18px;
    }
}


@media screen and (max-width: 767px) {
    .mobile-only {
        display: block;
    }

    .mobile-hidden {
        display: none;
    }

    .section-padding-top {
        padding-top: 80px;
    }

    .default-text {
        font-size: 16px;
        line-height: 18px;
    }


    .section-title {
        font-size: 36px;
        margin-bottom: 10px;
    }
}