#footer {
    text-align: left;

    .section-desc-text {
        color: #cccccc;
        font-size: 18px;
    }

    .ktnb-col {
        .content-holder {
            padding-right: 32px;
        }
    }

    .contact-col {
        .content-holder {
            padding-right: 32px;
        }

        input {
            border-radius: 0;
            border: solid 1px #cccccc;
            background-color: black;
            outline: 0;
            color: white;
        }

        input::placeholder {
            color: rgba(255, 255, 255, 0.9);
            opacity: 1; /* Firefox */
          }
          
        input::-ms-input-placeholder { /* Edge 12 -18 */
            color: rgba(255, 255, 255, 0.9);
          }

        .btn-submit {
            border-radius: 0;
            font-weight: bold;
        }
    }

    .sn-col {
        .sn-logo {
            display: block;
            width: 40px;
        }
    }

    .footer-footer {
        position: absolute;
        bottom: 32px;
        padding: 16px 16px 0;
        border-top: solid 1px white;
        font-size: 20px;
    }

    @media screen and (max-width: 991px) {


        .ktnb-col, .contact-col {
            margin-bottom: 18px;
        }
    }

    @media screen and (max-width: 767px) {
        .section-title {
            font-size: 24px;
            margin-bottom: 8px;
        }

        .section-desc-text {
            font-size: 14px;
        }

        .footer-footer {
            display: none;
        }

        .ktnb-col, .contact-col {
            margin-bottom: 18px;
        }
    }
}