.page-home #jobs {
    .section-title {
        font-weight: bold;
        text-align: left
    }

    .job-list {
        text-align: left;

        .job-list-item {
            padding: 16px 0;
            border-bottom: solid 1px #cccccc;

            .job-title {
                font-size: 28px;
                font-weight: bold;
                margin-bottom: 16px;
                text-transform: uppercase;
                margin-top: 32px;
            }

            .job-type {
                display: block;
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 16px;
            }

            .job-description {
                display: block;
                max-width: 800px;
                color: #cccccc;
                margin-bottom: 32px;
            }

            &:first-child {
                .job-title {
                    margin-top: 0;
                }
            }

            &:last-child {
                border-bottom: 0;
            }

            .job-cta {
                border: none;
                background-color: rgba(255, 255, 255, 0.9);
                color: black;
                border-radius: 0px;
                display: block;
                padding-top: 2px;
                padding-bottom: 2px;
                max-width: 150px;
            }
        }
    }

    @media screen and (max-width: 1366px) {

        .job-list {

            .job-list-item {
                padding: 0;
            }

            .job-list-item .job-title {
                font-size: 22px;
            }

            .job-list-item:first-child .job-title {
                margin-top: 0;
            }

            .job-list-item .job-description {
                margin-bottom: 16px;
            }

            .job-list-item .job-cta-holder {
                margin-bottom: 16px;
            }
        }
    }

    @media screen and (max-width: 767px) {

        .job-list {

            .job-list-item {
                padding: 0;
            }

            .job-list-item .job-title {
                font-size: 18px;
                margin-bottom: 8px;
                margin-top: 14px;
            }


            .job-list-item .job-type {
                font-size: 14px;
                margin-bottom: 8px;
            }

            .job-list-item:first-child .job-title {
                margin-top: 0;
            }

            .job-list-item .job-description {
                margin-bottom: 12px;
                font-size: 14px;
                line-height: 18px;
            }

            .job-list-item .job-cta-holder {
                margin-bottom: 16px;

                .job-cta {
                    margin-left: auto;
                }
            }
        }
    }
}