.page-home #jobs {
    .section-title {
        font-weight: bold;
        text-align: left
    }

    .job-list {
        text-align: left;

        .job-list-item {
            padding: 16px 0;
            border-bottom: solid 1px #cccccc;

            .job-title {
                font-size: 32px;
                font-weight: bold;
                margin-bottom: 16px;
                text-transform: uppercase;
                margin-top: 32px;
            }

            .job-type {
                display: block;
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 16px;
            }

            .job-description {
                display: block;
                max-width: 600px;
                color: #cccccc;
                margin-bottom: 32px;
            }

            &:first-child {
                .job-title {
                    margin-top: 0;
                }
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    @media screen and (max-width: 1366px) {

        .section-title {
            margin-top: 72px;
        }

        .job-list {

            .job-list-item {
                padding: 0;
            }

            .job-list-item .job-title {
                font-size: 22px;
            }

            .job-list-item:first-child .job-title {
                margin-top: 0;
            }

            .job-description {
                margin-bottom: 16px;
            }
        }
    }
}