#menu {
    li.logo-li {
        background: transparent !important;
    }

    .logo {
        width: 120px;
    }

    li.menu-item {
        border-radius: 0px;
        border: solid 1px #aaaaaa;
        background-color: black;
        position: relative;
    }

    li.menu-item::before,
    li.menu-item::after {
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        background: black;
        content: " ";
    }

    li.menu-item::before {
        top: -4px;
        left: -4px;
    }

    li.menu-item::after {
        bottom: -4px;
        right: -4px;
    }

    li.menu-item a {
        color: #cccccc;
        font-size: 20px;
    }
}