#time-ktnb {

    .container {
        width: calc(100vw - 36px);
    }

    .section-title {
        font-weight: bold;
        text-align: left;
    }

    .col-team-member {
        width: 20%;
    }

    .team-member-picture-holder {
        /*
        padding-left: 32px;
        padding-right: 32px;*/
    }

    .team-member-name {
        font-family: "Oswald";
        font-size: 32px;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.9);
        color: #000000;
        text-transform: uppercase;
        padding: 4px 16px;
        text-align: left;
        position: relative;
        margin-bottom: 16px;
        letter-spacing: 4px;
    }

    .team-member-desc {
        text-align: left;
        font-size: 16px;
        font-family: 'Merriweather';
        margin-bottom: 16px;
        min-height: 50px;
    }

    .social {
        text-align: left;

        .sn-logo {
            width: 40px;
        }
    }

    @media screen and (max-width: 1366px) {

        .section-title {
            margin-bottom: 30px;
        }

        .team-member-name {
            font-size: 20px;
        }



        .team-member-desc {
            font-size: 14px;
            margin-bottom: 12px;
            min-height: 36px;
        }
    }

    @media screen and (max-width: 767px) {
        .container {
            width: 100%;
        }

        .section-title {
            margin-bottom: 10px;
        }

        .col-team-member {
            width: 45%;
        }

        .social {
            text-align: left;
            float: right;
            margin-top: -62px;

            .sn-logo {
                width: 32px;
            }
        }

        .team-member-desc {
            font-size: 12px;
            margin-bottom: 12px;
            min-height: 40px;
            padding-right: 40px;
            line-height: 13px;
        }

        .team-member-name {
            margin-top: 0px;
            font-size: 14px;
            margin-bottom: 6px;
            line-height: 14px;
            padding: 2px 8px;
        }

        .col-pedro {
            margin-top: 70px;
        }

        .col-gustavo {
            margin-top: -70px;
        }

        .col-umberto {
            margin-top: -70px;
        }
    }
}