#time-ktnb {

    .container {
        width: calc(100vw - 36px);
    }

    .section-title {
        font-weight: bold;
        text-align: left;
    }

    .col-team-member {
        width: 16.666%;
    }

    .team-member-picture-holder {
        /*
        padding-left: 32px;
        padding-right: 32px;*/
    }

    .team-member-name {
        font-family: "Oswald";
        font-size: 28px;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.9);
        color: #000000;
        text-transform: uppercase;
        padding: 4px 16px;
        text-align: left;
        position: relative;
        margin-bottom: 16px;
        letter-spacing: 4px;
    }

    .team-member-desc {
        text-align: left;
        font-size: 12px;
        font-family: 'Merriweather';
        margin-bottom: 16px;
        min-height: 50px;
    }

    .social {
        text-align: left;

        .sn-logo {
            width: 32px;
        }
    }

    @media screen and (max-width: 1400px) {
        .team-member-name {
            font-size: 22px;
        }
    }

    @media screen and (max-width: 1365px) {

        .section-title {
            margin-bottom: 30px;
        }

        .team-member-name {
            font-size: 16px;
            padding: 4px 8px;
        }

        .team-member-desc {
            font-size: 12px;
            margin-bottom: 12px;
            min-height: 60px;
        }
    }



    @media screen and (max-width: 991px) {

        .section-title {
        }

        .team-member-name {
            font-size: 12px;
            padding: 2px 4px;
        }

        .team-member-desc {
        }
    }

    @media screen and (max-width: 767px) {
        .section-title {
            margin-bottom: 16px;
        }

        .container {
            width: 100%;
        }

        .col-team-member {
            width: 100%;
        }

        .social {
            text-align: left;
            float: right;
            margin-top: -62px;

            .sn-logo {
                width: 32px;
            }
        }

        .team-member-picture-holder {
            float: left;
            width: 100px;
        }

        .team-member-desc {
            font-size: 12px;
            margin-bottom: 12px;
            min-height: 40px;
            padding-left: 112px;
            padding-right: 40px;
            line-height: 13px;
        }

        .team-member-name {
            margin-top: 0px;
            font-size: 14px;
            margin-bottom: 6px;
            line-height: 14px;
            padding: 2px 8px;
            margin-left: 108px;
            background: rgba(255, 255, 255, 0.85);

            br {
                display: none;
            }
        }
    }
}